<div class="container-fluid">
    <div class="row footer1">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 footbox p-4 text-center">
        <img style="height: 50px;" src="{{cprofile.logo.url}}" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 footbox2">
        <h3 class="text-center text-white">Useful Links</h3>
        <ul class="list-unstyled">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Privacy</a></li>
          <li><a href="">Terms Of Condition</a></li>
          <li><a href="">Return Policy</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 footbox3">
        <h3 class="text-center text-white">Social Links</h3>
        <ul class="list-inline">
          <li class="list-inline-item"><a href=""><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-instagram"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-linkedi  n"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row footer2 bg-dark pt-3 pb-3">
      <div class="col-12">
        <p class="text-center text-white">copyright &copy; 2022, All rights reserved | Crafted by Anya2Badd</p>
      </div>
    </div>
   </div>